
services:
  mongo:
    image: "mongo:6.0"
    container_name: mongo
    ports:
      - "27019:27017"
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - backend

  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: pipes-api
    container_name: api
    restart: on-failure
    env_file:
      - /.env
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    command: ["/entrypoint.sh"]
    networks:
      - backend

networks:
  backend:

volumes:
  mongo-data:
    driver: local
