<head>

</head>
<body>
    <h1><img alt="" src="https://avatars.githubusercontent.com/u/135719718?s=200&amp;v=4" style="font-size: 13px; width: 40px; height: 40px; vertical-align: middle;" /> PIPES Upcoming Deadline</h1>

    <p>NAME_HERE,&nbsp;</p>

    <p>NOTIFICATION_HERE</p>

    <p>Thank you!&nbsp;</p>

    <p>PIPES - Pipeline for Integrated Projects in Energy Systems</p>

    <p><img alt="" src="https://www.nrel.gov/_resources/images/logo-doe-footer.png" style="width: 100px; height: 28px;" />&nbsp;</p>

    <p><small>This email, including any attachments, is intended solely for the recipient(s) named above and may contain confidential, proprietary, or legally privileged information. If you are not the intended recipient, or have received this email in error, you are hereby notified that any review, dissemination, distribution, or copying of this message is strictly prohibited. If you have received this email in error, please delete the original message from your system.</small></p>

    <p><small>Unauthorized interception of this email is a violation of federal law. Any disclosure, copying, distribution, or action taken or omitted to be taken in reliance on the contents of this email by anyone other than the intended recipient may result in legal consequences.</small></p>


</body>
